<div id='tasklines'></div>
<div class='ht-before-discounts'></div>
<div id='discounts' class='collapsible'></div>
{{#if link}}
<div class='separate_block border_left_block'>
	<h2 class="title">
		<span class="icon status caution" title="Ce document est associé à une étude de prix : la liste des produits et les remises ne peuvent pas être modifiées directement">
			<svg><use href="/static/icons/endi.svg#danger"></use></svg>
		</span>
		Étude de prix
	</h2>
	<div>
		Ce document est associé à une étude de prix&nbsp;: la liste des produits et les remises ne peuvent pas être modifiées directement.
		<div class='link-container content_vertical_padding'></div>
	</div>
</div>
{{/if}}
<div id='expenses_ht' class='collapsible'></div>
