<blockquote class="{{status}}">
{{#if status}}
    <span class="icon status {{css_class}}" role="presentation">
        <svg><use href="/static/icons/endi.svg#{{icon}}"></use></svg>            	</span>
{{/if}}
{{#if label}}
<p class="status">{{label}}</p>
{{/if}}
{{#if comment}}
<p>{{comment}}</p>
{{/if}}
<footer>
{{user}} le {{date}} 
</footer>
</blockquote>
