<h3>Justificatifs</h3>
<div class="content_vertical_padding">
<ul></ul>
</div>
<a href="#" class="add-btn btn btn-primary">
    <svg><use href="/static/icons/endi.svg#paperclip"></use></svg>
    Ajouter un fichier
</a>
