							<div class='table_container'>
								<table class="hover_table top_align_table">
									<thead>
										<tr>
											<th scope="col" class="col_text" title="Type de dépense et description">Type<span class="screen-reader-text"> de dépense</span> et description</th>
											<th scope="col" class="col_number" title="Montant Hors Taxe"><span class="screen-reader-text">Montant </span>HT</th>
											<th scope="col" class="col_number" title="Montant de la TVA"><span class="screen-reader-text">Montant de la </span>TVA</th>
											<th scope="col" class="col_actions width_two" title="Actions"><span class="screen-reader-text">Actions</span></th>
										</tr>
									</thead>
									<tbody id="bookmark-list-container">
									</tbody>
								</table>
							</div>
