{{#if can_validate_attachments}}
    <td class="col_text" colspan="2"></td>
{{ else }}
    <td class="col_text" colspan="3"></td>
{{/if}}
<td class="col_text"
    {{#if can_validate_attachments}}
      colspan="{{#is_achat}}6{{else}}5{{/is_achat}}"
    {{ else }}
      colspan="{{#is_achat}}5{{else}}4{{/is_achat}}"
    {{/if}}
>
	<a href="{{{openLink}}}" target="_blank"
       title="Ouvrir le justificatif {{{label}}} dans une nouvelle fenêtre"
       aria-label="Ouvrir le justificatif {{{label}}} dans une nouvelle fenêtre"
    >
        {{{label}}}
    </a>
</td>
{{#if edit}}
    <td class="col_actions width_four">
        <span class="new-expense-btn"></span>
        <span class="link-btn"></span>
        <span class="delete-btn"></span>
    </td>
{{/if}}
