<div class="files separate_top content_vertical_padding"></div>
<div class="separate_top">
    <div class='messages-container'></div>
    <div class='group-errors'></div>
    <div class='totals grand-total'></div>
    <div class='form-section'>
        <div class='content'>
            <div class='form-section'>
                <div class='content'>
                    <div class="supplier-order">
                    </div>
                    <div class='lines-region'>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section id="supplierorderline_form" class="modalRegion modal_view size_middle"></section>
