<div role="dialog" id="supplierorderline-forms" aria-modal="true" aria_labelledby="supplierorderline-forms_title">
	<div class="modal_layout">
		<header>
			<button tabindex='-1' type="button" class="icon only unstyled close"
					title="Fermer cette fenêtre"
			>
				<svg><use href="/static/icons/endi.svg#times"></use></svg>
			</button>
			<h2 id="supplierorderline-forms_title">{{ title }}</h2>
		</header>
		<main>
			<div id="mainform-container"></div>
			<div class="modal-footer"></div>
		</main>
	</div>
</div>
