<td class="col_text">{{label}}</td>
{{#scales}}
<td>
	<div class="radio">
		<label>
			<input
				type="radio"
				name="subitem_{{ ../id }}"
				{{#is_selected}}checked{{/is_selected}}
				value="{{ value }}">
				<span><span class="screen-reader-text">{{ label }}<span><span>
			</input>
		</label>
	</div>
</td>
{{/scales}}
<td class="col_text">
<div class='form-group'>
    <textarea name='comments' class='form-control' label='Argumentation, preuves'>{{ comments }}</textarea>
</div>
</td>
